<%= stylesheet_link_tag "shortener.css" %>

<div class="container">
	<div class="header">
		<h3>Ti<label class="contrast">ny</label> - A URL shortener</h3>
	</div>

	<div class="jumbotron">
		<h1>Shorten my URL</h1>
		<p class="lead">Create tiny URLs in no time</p>
		<%= form_tag "/shorten", method: "post" do %>
			<div class="col-lg-18">
				<div class="input-group input-group-lg">
					<span class="input-group-btn input-group-lg">
 						<%= text_field_tag :url, nil, placeholder: "Enter your URL", class: "form-control" %>
					</span>
					<span class="input-group-btn input-group-lg">
						<%= submit_tag "Shorten", class: "btn btn-default" %>
					</span>
				</div>
			</div>
		<% end %>
		<p class="error"><%= flash[:error] %></p>
	</div>
	<div class="push"></div>
</div>
	<div class="footer">
        	<p class="footext"><a href="https://github.com/lovemeblender">Find me @ Github </a>&copy; 2016 Michalis</p>
	</div>
