<%= stylesheet_link_tag "shortener.css" %>

<div class="container">
        <div class="header">
		<h3>Ti<label class="contrast">ny</label> - A URL shortener</h3>
	</div>

        <div class="jumbotron">
                <h1>Shorten my URL</h1>
                <p class="lead">Your shortened URL</p>
                <p> <%= link_to root_url + request.original_url.split('/')[-1], root_url + request.original_url.split('/')[-1]  %> </p>
        </div>
	<div class="push"></div>
</div>
        <div class="footer">
        	<p class="footext"><a href="https://github.com/lovemeblender">Find me @ Github </a>&copy; 2016 Michalis</p>
	</div>
