* {
   margin: 0;
}

html, body, form {
   height: 100%;
}

body {
   background-color: #3765c8;
}

.container {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
}

.footer, .push {
   height: 4em;
   width: 100%;
}

.footext {
   text-align: center;
}

.jumbotron h1 {
   color: #ffffff; 
}

.error {
	color: #ff0033;
	font-size: 0.1em;
	font-family: "Times New Roman", Times, serif;
	margin-top: 2%;	
}

a, p, h1, h3 {
   color: #ffffff;
}

a {
   text-decoration: none;
}

a:visited {
   color: #ffffff;
}

.contrast {
    background-color: #ffffff;
}

h3 .contrast {
   color: #3765c8;
}

a:hover {
   text-decoration: none;
   background-color: #ffffff;
   color: #3765c8;
}

a:active {
   color: #ffffff;
}

.header {
  padding-bottom: 30px;
  border-bottom: 1px solid #999999;
}

.jumbotron {
   margin-top: 15%;
   max-height: 42vh;
   height:auto !important;
   background-color: #b3b3b3 !important;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 730px;
  }
}

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}
