<%= stylesheet_link_tag "jumbotron-custom.css" %>

<div class="container">
	<div class="header clearfix">
		<h2 class="text-muted">URL Shortener</h3>
	</div>

	<div class="jumbotron">
		<h1>Shorten my URL</h1>
		<p class="lead">Create tiny URLs in no time</p>
		<%= form_tag "/shorten", method: "post" do %>
			<div class="col-lg-18">
				<div class="input-group input-group-lg">
					<span class="input-group-btn input-group-lg">
 						<%= text_field_tag :url, nil, placeholder: "Enter your URL", class: "form-control" %>
					</span>
					<span class="input-group-btn input-group-lg">
						<%= submit_tag "Shorten", class: "btn btn-default" %>
					</span>
				</div>
			</div>
		<% end %>
	</div>

	<div class="footer push"></div>	
	<footer class="footer">
        	<p>&copy; 2016 Michalis</p>
	</footer>
</div>
