<%= stylesheet_link_tag "jumbotron-custom.css" %>

<div class="container">
        <div class="header clearfix">
                <h2 class="text-muted">URL Shortener</h3>
        </div>

        <div class="jumbotron">
                <h1>Shorten my URL</h1>
                <p class="lead">Your shortened URL</p>
                <p> <%= link_to root_url + request.original_url.split('/')[-1], root_url + request.original_url.split('/')[-1]  %> </p>
        </div>

        <div class="footer push"></div>
        <footer class="footer">
                <p>&copy; 2016 Michalis</p>
        </footer>
</div>
